:root {
    --color-background: #122432;
    --color-body: #404679;
    --color-border: #FBB248;
    --color-text-shadow: #F1605A;
    --color-text: #FFAF50;
    --color-text-button: #122432;
    --color-body-shadow: #041420;
}