@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html {
  background-color: #122432;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABFklEQVRYR9WXURLDIAhE6/0PbSdOtUpcd1Gnpv1KGpTHBpCE1/cXq+vrMph7dGvXZTtpfW10DCA5jrH1H0Jhs5E0hnZdCR+vb5S8Nn8mQCeS9BdSalYJqMBjAGzq59xAESN7VFVUgV8AZB/dZBR7QTFDCqGquvUBVVoEtgIwpQRzmANSFHgWQKExHdIrPeuMvQNDarXe6nC/AutgV3JW+6bgqQLeV8FekRtgV+ToDKEKnACYKsfZjjkam7a0ZpYTytwmgainpC3HvwBocgKOxqRjehoR9DFKNFYtOwCGYCszobeCbl26N6yyQ6g8X/Wex/rBPsNEV6qAMaJPMynIHQCoSqS9JSMmwef51LflTgCRszU7DvAGiV6mHWfsaVUAAAAASUVORK5CYII=),auto;
  display: flex;
  justify-content: center;
}

svg {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABFklEQVRYR9WXURLDIAhE6/0PbSdOtUpcd1Gnpv1KGpTHBpCE1/cXq+vrMph7dGvXZTtpfW10DCA5jrH1H0Jhs5E0hnZdCR+vb5S8Nn8mQCeS9BdSalYJqMBjAGzq59xAESN7VFVUgV8AZB/dZBR7QTFDCqGquvUBVVoEtgIwpQRzmANSFHgWQKExHdIrPeuMvQNDarXe6nC/AutgV3JW+6bgqQLeV8FekRtgV+ToDKEKnACYKsfZjjkam7a0ZpYTytwmgainpC3HvwBocgKOxqRjehoR9DFKNFYtOwCGYCszobeCbl26N6yyQ6g8X/Wex/rBPsNEV6qAMaJPMynIHQCoSqS9JSMmwef51LflTgCRszU7DvAGiV6mHWfsaVUAAAAASUVORK5CYII=),auto;
}

body {
  align-items: center;
  background-color: #404679;
  border-left: 0.2rem solid #FBB248;
  border-right: 0.2rem solid #FBB248;
  box-shadow: 0.5rem 0.5rem 0 #041420;
  font-family: 'Press Start 2P', monospace;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  padding: 4rem;
  position: relative;
  text-align: center;
  width: 720px;
}

/*dropdown div*/
.dropdown {
  position: absolute;
  display: flex;
  text-align: left;
  top: 1rem;
  left: 1rem;
  font-size: 1rem;
  color: #FFAF50;
  text-align: left;
  text-shadow: 2px 2px #F1605A;
}

/*dropdown botão*/
.btn.btn-secondary.dropdown-toggle {
  font-size: 1.5rem;
  background-color: #404679;
  color: #FFAF50;
  text-align: left;
  text-shadow: 2px 2px #F1605A;
}

/*dropdown itens*/
.dropdown-item {
  font-size: 1rem;
  color: #122432;
  text-align: left;
  text-shadow: 2px 2px #FFAF50;
}

.container {
  text-align: center;
}


/*Gatinha do github*/
.github{
  position: absolute;
  margin:0 0 0 0;
  right: 0;
  top: 0;
}

a, #github-icon {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
}

.page-subtitle {
  color: #FBB248;
  text-shadow: 2px 2px 0 #F1605A;
  font-size: 1.75rem;
  margin: 1rem auto 5rem auto;
  text-align: center;
}

.form-wrapper {
  margin:0 auto;
}

.form-wrapper input {
  display: block;
  margin: 0.5rem 0 2rem 0;
  padding: 10px 15px;
  width: 100%;
}

.form-wrapper select {
  margin-bottom: 2rem;
  padding: 10px 15px;
  width: 100%;
}

.form-wrapper label {
  color: #fdfdfd;
  display: block;
  text-align: left;
}

.form-wrapper button {
  display: inline;
  background: #FFAF50;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
  border: none;
  box-shadow: inset -10px -10px 0px #F1605A;
  color: #122432;
  font-size: 0.9rem;
  margin: 1rem auto;
  min-width: 10rem;
  min-height: 3rem;
  padding: 0.4rem;
}

#videoError {
  color: rgb(255 160 160);
  display: none;
  font-family: monospace;
  font-weight: bold;
  font-size: 1rem;
}


/* inicio estilos no js */
.modal {
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 999;
}

.modalBox {
  background-color: #fdfdfd;
  border-radius: 10px;
  border: 3px solid #F1605A;
  box-shadow: 0.5rem 0.5rem 0 #041420;
  padding: 1rem;
  width: 60%;
}

.modalBox__titulo {
  margin-bottom: 1.5rem;
  text-align: left;
}

.modalBox__titulo::after {
  content: "";
  background-color: #c4c4c4;
  display: block;
  height: 1px;
  margin-top: 0.5rem;
  width: 100%;
}

.modalBox__descricao {
  margin-bottom: 2rem;
}

.modalBox__descricao::after {
  content: "";
  background-color: #c4c4c4;
  display: block;
  height: 1px;
  margin-top: 2rem;
  width: 100%;
}

.modalBox__botao {
  border: 2px solid #F1605A;
  border-radius: 5px;
  box-shadow: 2px 2px #041420;
  color: #122432;
  margin-right: 2rem;
  padding: 1rem;
}

.modalBox__botaoDeleta {
  background-color: #FBB248;
  border: 2px solid #F1605A;
  border-radius: 5px;
  box-shadow: 2px 2px #041420;
  color: #122432;
  padding: 1rem;
}
/* fim dos estilos no js */