@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, a, img, svg {
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABFklEQVRYR9WXURLDIAhE6/0PbSdOtUpcd1Gnpv1KGpTHBpCE1/cXq+vrMph7dGvXZTtpfW10DCA5jrH1H0Jhs5E0hnZdCR+vb5S8Nn8mQCeS9BdSalYJqMBjAGzq59xAESN7VFVUgV8AZB/dZBR7QTFDCqGquvUBVVoEtgIwpQRzmANSFHgWQKExHdIrPeuMvQNDarXe6nC/AutgV3JW+6bgqQLeV8FekRtgV+ToDKEKnACYKsfZjjkam7a0ZpYTytwmgainpC3HvwBocgKOxqRjehoR9DFKNFYtOwCGYCszobeCbl26N6yyQ6g8X/Wex/rBPsNEV6qAMaJPMynIHQCoSqS9JSMmwef51LflTgCRszU7DvAGiV6mHWfsaVUAAAAASUVORK5CYII=),auto;
}

body {
    background-image: url(../images/sunset-vaporwave.gif);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-position: center;
    background-color: #1B1821;
    font-family: 'Press Start 2P', monospace;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    position: relative;
    background-color: #1B1821;
    box-shadow: 0.5rem 0.5rem 0 #041420;
    border-left: 0.2rem solid #6B54BF;
    border-right: 0.2rem solid #6B54BF;
    min-height: 100vh;
    max-height: 100%;
    padding:1.5rem;
    width: 720px;
}

.imgLogoCamararoll {
    width: 20rem;
    height: 10rem;
}

#text-welcome{
    margin-top: -5%;
}

h1 {
    color: #FFFFFF;
    margin: 5rem 0 0.5rem 0;
    text-align: center;
    text-shadow: 2px 2px #D941B0;
}

/*paragrafo avatar*/
p {
    color: #FFFFFF;
    position: relative;
    text-align: center;
    text-shadow: 2px 2px #D941B0;
}

.subtitle {
    color: #FFFFFF;
    font-size: 1rem;
    margin-bottom: 3rem;
    text-align: center;
    text-shadow: 2px 2px #D941B0;
}

.description {
    color: #FFFFFF;
    font-family: monospace;
    font-size: 1.15rem;
    margin-bottom: 2rem;
    text-align: center;
}

.welcomeMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sigin {
    margin: 1rem;
}

.user__sigin {
    color: #fdfdfd;
    text-shadow: 2px 2px #D941B0;
}

/* #escolha_avatar {
    margin-left: 15px;
} */

.sigin input:first-child {
    margin-bottom: 0.9rem;
}

.sigin input {
    border: none;
    color: #1a1b1bfa;
    display: flex;
    font-size: 0.75rem;
    width: 20rem;
    height: 2rem;
    margin: 0.2rem 0;
    padding: 0.5rem;
}

.sigin input::placeholder {
    color: #1a1b1b86;
}

.sigin input:focus {
    background-color: #f19cdb;
}

.avatar_text {
    margin: 1rem;
}

.btn {
    background: #D941B0;
    border: none;
    box-shadow: inset -10px -10px 0px #6B54BF;
    color: #FFFFFF;
    font-size: 0.9rem;
    margin-top: 1rem;
    min-width: 10rem;
    min-height: 3rem;
    padding: 0.4rem;
    transition: all 0.3s ease;
}

.btn:hover, img, #github-icon {
    letter-spacing: 0.5px;
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
}

.btn:active {
    transform: translate(10px, 10px);
}

/*Mensagem de senha ou usuário incorreta*/
#messageError { 
    color: rgb(255 160 160);
    display: none;
    font-family: monospace;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
}

/*Gatinha do github*/
.github{
    position:absolute;
    margin:0 0 0 0;
    right:0;
    top:0;
}

/*Avatar*/
.divAvatar{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.labelAvatar{
    display:flex;
    flex-flow:column wrap;
    align-items: center;
    padding: 5px;
}

.labelAvatar input{
    margin-bottom: 5px;
}

.imgAvatar{
    width:50px;
    height:50px;
}

div.joinUS {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.joinUS__label {
    color: #FFFFFF;
    font-family: monospace;
    font-size: 1rem;
    margin-top: 2rem;
}