@media screen and (max-width: 768px) {
    main {
        width: 410px;
    }

    .divAvatar {
        width: 100%;
    }
}

@media screen and (max-width: 426px) {
    main {
        width: 100vw;
    }

    h1 {
        margin: 2rem;
    }
    
    .sigin input {
        width: 90vw;
    }

    .divAvatar {
        margin: 0.5rem;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 320px) {
    main {
        width: 100vw;
    }

    .user__sigin {
        font-size: 0.9rem;
    }
    
}