html {
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABFklEQVRYR9WXURLDIAhE6/0PbSdOtUpcd1Gnpv1KGpTHBpCE1/cXq+vrMph7dGvXZTtpfW10DCA5jrH1H0Jhs5E0hnZdCR+vb5S8Nn8mQCeS9BdSalYJqMBjAGzq59xAESN7VFVUgV8AZB/dZBR7QTFDCqGquvUBVVoEtgIwpQRzmANSFHgWQKExHdIrPeuMvQNDarXe6nC/AutgV3JW+6bgqQLeV8FekRtgV+ToDKEKnACYKsfZjjkam7a0ZpYTytwmgainpC3HvwBocgKOxqRjehoR9DFKNFYtOwCGYCszobeCbl26N6yyQ6g8X/Wex/rBPsNEV6qAMaJPMynIHQCoSqS9JSMmwef51LflTgCRszU7DvAGiV6mHWfsaVUAAAAASUVORK5CYII=),auto;
}

body {
    font: bold 1em 'Noto Sans', sans-serif;
    background-image: url(images/home-background.png);
    min-height: 100vh;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

main {
    background-color: #353d40ad;
    max-width: 300px;
    min-width: 200px;
    min-height: 40vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px #1a1b1b65;
    border-radius: 15px;
}

h1 {
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
}

h1::before {
    content:'';
    position: absolute; /*para o before ser absolute, o elemento pai (h1) tem que ser relative*/
    height: 4px;
    width: 78px;
    bottom: 3px;
    left: 0;
    border-radius: 8px;
    background: #f2b138be;
}

section {
    display: flex;
    flex-direction: column;
}

.sigin {
    position: relative;
}

.sigin input:first-child {
    margin-bottom: 0.9rem;
}

.sigin input {
    outline: none;
    font-size: 1rem;
    color: #1a1b1bfa;
    border-radius: 5px;
}

.sigin input::placeholder {
    color: #1a1b1b86;
}

.btn {
    margin-top: 2rem;
    padding: 0.4rem;
    background: #033857ab;
    cursor: pointer;
    color: #f2b138be;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.btn:hover {
    letter-spacing: 0.5px;
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
}

#messageError { /*mensagem de senha ou usuário incorreta*/
    color: rgb(228, 163, 163);
    display: none;
}