@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html {
  background-image: url(../images/sunset-vaporwave.gif);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat-x;
  background-position: center;
  background-color: #1B1821; /*fallback*/
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABFklEQVRYR9WXURLDIAhE6/0PbSdOtUpcd1Gnpv1KGpTHBpCE1/cXq+vrMph7dGvXZTtpfW10DCA5jrH1H0Jhs5E0hnZdCR+vb5S8Nn8mQCeS9BdSalYJqMBjAGzq59xAESN7VFVUgV8AZB/dZBR7QTFDCqGquvUBVVoEtgIwpQRzmANSFHgWQKExHdIrPeuMvQNDarXe6nC/AutgV3JW+6bgqQLeV8FekRtgV+ToDKEKnACYKsfZjjkam7a0ZpYTytwmgainpC3HvwBocgKOxqRjehoR9DFKNFYtOwCGYCszobeCbl26N6yyQ6g8X/Wex/rBPsNEV6qAMaJPMynIHQCoSqS9JSMmwef51LflTgCRszU7DvAGiV6mHWfsaVUAAAAASUVORK5CYII=),auto;
  display: flex;
  justify-content: center;
}

svg {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABFklEQVRYR9WXURLDIAhE6/0PbSdOtUpcd1Gnpv1KGpTHBpCE1/cXq+vrMph7dGvXZTtpfW10DCA5jrH1H0Jhs5E0hnZdCR+vb5S8Nn8mQCeS9BdSalYJqMBjAGzq59xAESN7VFVUgV8AZB/dZBR7QTFDCqGquvUBVVoEtgIwpQRzmANSFHgWQKExHdIrPeuMvQNDarXe6nC/AutgV3JW+6bgqQLeV8FekRtgV+ToDKEKnACYKsfZjjkam7a0ZpYTytwmgainpC3HvwBocgKOxqRjehoR9DFKNFYtOwCGYCszobeCbl26N6yyQ6g8X/Wex/rBPsNEV6qAMaJPMynIHQCoSqS9JSMmwef51LflTgCRszU7DvAGiV6mHWfsaVUAAAAASUVORK5CYII=),auto;
}

body {
  background-color: #1B1821;
  border-left: 0.2rem solid #6B54BF;
  border-right: 0.2rem solid #6B54BF;
  box-shadow: 0.5rem 0.5rem 0 #1B1821;
  font-family: 'Press Start 2P', monospace;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  max-height: 100%;
  padding: 2rem;
  position: relative;
  text-align: center;
  width: 720px;
}

.menuMobile_box {
  display: none;
}

.btn-group.dropright {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}

.btn.btn-secondary.dropdown-toggle {
  background-color: #1B1821;
}

.btn:active {
  transform: translate(10px, 10px);
}

.dropdown-menu {
  padding: 1px;
  margin-left: 2px;
  background-color: #FFFFFF;
  color: #1B1821;
}

.divLinks{
  padding: 3px 0px 3px 5px;
}

.userStatus__text {
  padding: 5px;
  color: #1B1821;
  text-shadow: 1px 1px #d34dafd0;
}

.userStatus__text___sair {
  padding: 2px;
  color: #1B1821;
  text-shadow: 1px 1px #c468ab;
}

.links_drop_usuario {
  color: #1B1821;
  text-shadow: 1px 1px #c468ab;
}

.userStatus__img {
  background-image: url("../images/avatar-pinguim.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80px;
  width: 80px;
} 

/*Gatinha do github*/
.github{
  position: absolute;
  margin:0 0 0 0;
  right: 0;
  top: 0;
}

a:hover, #github-icon, .userStatus__img, .dropdown-toggle:hover{
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
}

.form-wrapper {
  margin:0 auto;
}

.form-wrapper input {
  display: block;
  margin: 1rem auto;
  padding: 10px 15px;
  width: 70%;
}

.localizar-flex{
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.localizar-flex input::placeholder {
  color: #1a1b1b86;
  font-size: 14px;
}

.form-wrapper select {
  margin-top: 1rem;
  padding: 10px 15px;
  width: 70%;
  height: 3rem;
}

.page-subtitle {
  color: #FFFFFF;
  text-shadow: 2px 2px 0 #ff120a;
  font-size: 2rem;
  margin-top: 80px;
  text-align: center;
}

.pesquisaFilme_label {
  color: #ffffff;
  text-shadow: 2px 2px 0 #ff120a;
  font-size: 1.25rem;
  line-height: 2rem;
  margin: 3rem auto 3rem auto;
  text-align: center;
}

.listaFilmes {
  margin: 1em;
  display:flex;
  flex-flow:row wrap;
  justify-content: space-between;
  align-items: center;
  margin:0 auto;
}

.addFilme__container___button {
  display: inline;
  background: #e9a6ff;
  border: none;
  box-shadow: inset -6px -6px 0px #ff120a;
  color: #122432;
  font-size: 0.9rem;
  margin: 1rem auto;
  min-width: 30%;
  min-height: 3rem;
  padding: 0.4rem 1rem;
  transition: all 0.3s ease;
}

.addFilme__container___button:active {
  transform: translate(10px, 10px);
}

.addFilme__container___button:hover {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
}

.title{
  margin-bottom: 0px;
  max-width: 280px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.9rem;
}

/* Inicio estilos no js */
#btnDeletaVideo {
  background: #d7d4d8;
  border: none;
  box-shadow: inset -6px -6px 0px #dad6d5;
  color: #122432;
  font-size: 0.9rem;
  margin: 2rem 0;
  min-width: 10rem;
  min-height: 3rem;
  padding: 0 1rem;
  transition: all 0.3s ease;
}

#btnDeletaVideo:active {
  transform: translate(10px, 10px);
}

#btnDeletaVideo:hover {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
}

.cartao {
  margin:0.5em;
  padding:0.5em;
  background-color:#FFFFFF;
  border:1px;
  border-style:double;
  box-shadow: inset -6px - 6px 0 #ff120a;
}

.modal {
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 999;
}

.modalBox {
  background-color: #FFFFFF;
  border: 3px solid #ff120a;
  box-shadow: 0.5rem 0.5rem 0 #041420;
  padding: 1rem;
  max-width: 500px;
  /* width: 60%; */
}

.modalBox__titulo {
  margin-bottom: 1.5rem;
  text-align: left;
}

.modalBox__titulo::after {
  content: "";
  background-color: #c4c4c4;
  display: block;
  height: 1px;
  margin-top: 0.5rem;
  width: 100%;
}

.modalBox__descricao {
  margin-bottom: 2rem;
}

.modalBox__descricao::after {
  content: "";
  background-color: #c4c4c4;
  display: block;
  height: 1px;
  margin-top: 2rem;
  width: 100%;
}

.modalBox__botao {
  border: none;
  box-shadow: inset -6px -6px 0px #ff120a;
  color: #122432;
  margin-right: 2rem;
  padding: 1rem;
  transition: all 0.3s ease;
}

.modalBox__botao:active {
  transform: translate(10px, 10px);
}

.modalBox__botao:hover {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
}

.modalBox__botaoDeleta {
  background-color: #e9a6ff;
  border: none;
  box-shadow: inset -6px -6px 0px #ff120a;
  color: #122432;
  padding: 1rem;
  transition: all 0.3s ease;
}

.modalBox__botaoDeleta:active {
  transform: translate(10px, 10px);
}

.modalBox__botaoDeleta:hover {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
}
/* Fim dos estilos no js */
