@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html {
  background-image: url(../images/sunset-vaporwave.gif);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat-x;
  background-size: contain;
  background-color: #1B1821; /*fallback*/  
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABFklEQVRYR9WXURLDIAhE6/0PbSdOtUpcd1Gnpv1KGpTHBpCE1/cXq+vrMph7dGvXZTtpfW10DCA5jrH1H0Jhs5E0hnZdCR+vb5S8Nn8mQCeS9BdSalYJqMBjAGzq59xAESN7VFVUgV8AZB/dZBR7QTFDCqGquvUBVVoEtgIwpQRzmANSFHgWQKExHdIrPeuMvQNDarXe6nC/AutgV3JW+6bgqQLeV8FekRtgV+ToDKEKnACYKsfZjjkam7a0ZpYTytwmgainpC3HvwBocgKOxqRjehoR9DFKNFYtOwCGYCszobeCbl26N6yyQ6g8X/Wex/rBPsNEV6qAMaJPMynIHQCoSqS9JSMmwef51LflTgCRszU7DvAGiV6mHWfsaVUAAAAASUVORK5CYII=),auto;;
  display: flex;
  justify-content: center;
}

svg {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABFklEQVRYR9WXURLDIAhE6/0PbSdOtUpcd1Gnpv1KGpTHBpCE1/cXq+vrMph7dGvXZTtpfW10DCA5jrH1H0Jhs5E0hnZdCR+vb5S8Nn8mQCeS9BdSalYJqMBjAGzq59xAESN7VFVUgV8AZB/dZBR7QTFDCqGquvUBVVoEtgIwpQRzmANSFHgWQKExHdIrPeuMvQNDarXe6nC/AutgV3JW+6bgqQLeV8FekRtgV+ToDKEKnACYKsfZjjkam7a0ZpYTytwmgainpC3HvwBocgKOxqRjehoR9DFKNFYtOwCGYCszobeCbl26N6yyQ6g8X/Wex/rBPsNEV6qAMaJPMynIHQCoSqS9JSMmwef51LflTgCRszU7DvAGiV6mHWfsaVUAAAAASUVORK5CYII=),auto;
}

body {
  background-color: #1B1821;
  border-left: 0.2rem solid #6B54BF;
  border-right: 0.2rem solid #6B54BF;
  box-shadow: 0.5rem 0.5rem 0 #1B1821;
  font-family: 'Press Start 2P', monospace;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  max-height: 100%;
  padding: 2rem;
  position: relative;
  text-align: center;
  width: 720px;
}

.btn-group.dropright {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}

.container {
  text-align: center;
  margin: 3rem 0;
}

.btn.btn-secondary.dropdown-toggle {
  background-color: #1B1821;
}

.dropdown-menu {
  padding: 1px;
  margin-left: 2px;
  background-color: #FFFFFF;
  color: #1B1821;
}

.userStatus__text {
  padding: 2px;
  color: #1B1821;
  text-shadow: 1px 1px #d34dafd0;
}

.userStatus__text___sair {
  padding: 2px;
  color: #1B1821;
  text-shadow: 1px 1px #c468ab;
}

.links_drop_usuario {
  padding: 2px;
  color: #1B1821;
  text-shadow: 1px 1px #c468ab;
}

.userStatus__img {
  background-image: url("../images/avatar-pinguim.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80px;
  width: 80px;
} 

h1 {
  color: #FFFFFF;
  line-height: 3rem;
  margin: 4rem;
  position: relative;
  text-align: center;
  text-shadow: 2px 2px #D941B0;
}

.botoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.escolhaUsuario {
  margin: 2rem 0;
  background: #D941B0;
  border: none;
  box-shadow: inset -10px -10px 0px #6B54BF;
  color: #FFFFFF;
  font-size: 0.9rem;
  margin-top: 2rem;
  min-width: 10rem;
  min-height: 3rem;
  padding: 0.4rem;
  transition: all 0.3s ease;
}

.escolhaUsuario:hover, a:hover, #github-icon, 
.userStatus__img, .dropdown-toggle:hover {
  letter-spacing: 0.5px;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
}

.escolhaUsuario:active {
  transform: translate(10px, 10px);
}

.escolhaUsuario a {
  color: #122432;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
}

#staticBackdrop {
  width: 400px;
}

#staticBackdrop {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
  font-family: 'Press Start 2P', monospace;
}

/*Gatinha do github*/
.github{
  position: absolute;
  margin:0 0 0 0;
  right: 0;
  top: 0;
}

/* Estilo modal */
.modal {
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 999;
}

.modalBox {
  background-color: #FFFFFF;
  border: 3px solid #6B54BF;
  box-shadow: 0.5rem 0.5rem 0 #041420;
  padding: 1rem;
  max-width: 500px;
  width: 60%;
}

.modalBox__titulo {
  margin-bottom: 1.5rem;
  text-align: left;
}

.modalBox__titulo::after {
  content: "";
  background-color: #c4c4c4;
  display: block;
  height: 1px;
  margin-top: 0.5rem;
  width: 100%;
}

.modalBox__descricao {
  margin-bottom: 2rem;
  text-align: center;
}

.modalBox__descricao::after {
  content: "";
  background-color: #c4c4c4;
  display: block;
  height: 1px;
  margin-top: 2rem;
  width: 100%;
}

.modalBox__botao {
  border: none;
  box-shadow: inset -6px -6px 0px #6B54BF;
  color: #122432;
  margin-right: 2rem;
  padding: 1rem;
}

.modalBox__botao:hover {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
}

.modalBox__botaoSair {
  background-color: #D941B0;
  border: none;
  box-shadow: inset -6px -6px 0px #6B54BF;
  color: #FFFFFF;
  padding: 1rem;
}

.modalBox__botaoSair:hover {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
}
/* Fim dos estilos no js */