@media screen and (max-width: 768px) {
    main {
        width: 410px;
        overflow: hidden;
    }

    h1 {
        font-size: 1.5rem;
        margin-top: 2rem;
    }

    .description {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 426px) {
    main {
        width: 100vw;
    }
}

@media screen and (max-width: 320px) {
    main {
        width: 100vw;
    }
}