/* @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    html {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }

    main {
        min-height: 720px;
        max-height: 867px;
        min-width: 320px;
        max-width: 540px;
    }
} */

@media screen and (max-width: 768px) {
    main {
        width: 410px;
    }

    .title {
        font-size: 1.5rem;
        margin-top: 2rem;
    }

    .subtitle {
        font-size: 0.9rem;
        line-height: 1.5rem;
    }

    .description {
        font-size: 0.9rem;
        line-height: 1.25rem;
        padding: 0 2rem;
    }
}

@media screen and (max-width: 426px) {
    main {
        width: 100vw;
    }
}

@media screen and (max-width: 320px) {
    main {
        width: 100vw;
    }
}