@media screen and (max-width: 768px) {
    main {
        width: 520px;
    }

    .labelAvatar:nth-child(3n) {
        page-break-after: always; /* CSS 2.1 syntax */
        break-after: always; /* New syntax */
      }
}

@media screen and (max-width: 520px) {
    main {
        width: 100vw;
    }

    h1 {
        margin: 3rem;
    }
    
    .sigin input {
        width: 90vw;
    }
}

@media screen and (max-width: 320px) {
    main {
        width: 100vw;
    }

    .user__sigin {
        font-size: 0.9rem;
    }
    
}