@media screen and (max-width: 768px) {
    main {
        width: 520px;
    }

    h1 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 520px) {
    main {
        width: 100vw;
    }

    .imgLogoCamararoll {
        width: 15rem;
        height: 8rem;
    }

    h1 {
        font-size: 0.9rem;
        margin-top: 3rem;
    }

    .subtitle {
        font-size: 0.75rem;
        line-height: 1.25rem;
    }

    .description {
        font-size: 0.9rem;
    }

    div.joinUS {
        margin-top: 3rem;
    }
}

@media screen and (max-width: 320px) {
    main {
        width: 100vw;
    }
}