@media screen and (max-width: 768px) {
    body {
        width: 410px;
    }

    h1 {
        font-size: 1.5rem;
        line-height: 2.5rem;
        margin: 3rem 0;
    }
}

@media screen and (max-width: 596px) {
    .modalBox {
        width: 90%;
    }
}

@media screen and (max-width: 426px) {
    body {
        width: 100vw;
        padding: 0.5rem;
    }
}

@media screen and (max-width: 320px) {
    body {
        width: 100vw;
        padding: 0;
    }
}