@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    html {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }

    main {
        min-height: 720px;
        max-height: 867px;
        min-width: 320px;
        max-width: 540px;
    }
}

@media screen and (max-width: 768px) {
    main {
        width: 410px;
    }

    h1 {
        font-size: 1.3rem;
        margin-top: 3rem;
    }

    .description {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 426px) {
    main {
        width: 100vw;
    }
}

@media screen and (max-width: 320px) {
    main {
        width: 100vw;
    }
}