@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html {
  background-color: #122432;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABFklEQVRYR9WXURLDIAhE6/0PbSdOtUpcd1Gnpv1KGpTHBpCE1/cXq+vrMph7dGvXZTtpfW10DCA5jrH1H0Jhs5E0hnZdCR+vb5S8Nn8mQCeS9BdSalYJqMBjAGzq59xAESN7VFVUgV8AZB/dZBR7QTFDCqGquvUBVVoEtgIwpQRzmANSFHgWQKExHdIrPeuMvQNDarXe6nC/AutgV3JW+6bgqQLeV8FekRtgV+ToDKEKnACYKsfZjjkam7a0ZpYTytwmgainpC3HvwBocgKOxqRjehoR9DFKNFYtOwCGYCszobeCbl26N6yyQ6g8X/Wex/rBPsNEV6qAMaJPMynIHQCoSqS9JSMmwef51LflTgCRszU7DvAGiV6mHWfsaVUAAAAASUVORK5CYII=),auto;
  display: flex;
  justify-content: center;
}

body {
  align-items: center;
  background-color: #404679;
  border-left: 0.2rem solid #FBB248;
  border-right: 0.2rem solid #FBB248;
  box-shadow: 0.5rem 0.5rem 0 #041420;
  font-family: 'Press Start 2P', monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  text-align: center;
  width: 720px;
}

/* inicio Balão */
.balao {
  display: block;
  position: relative;
}

.nes-field.is-inline {
width: 600px;
position: relative; 
left: 50%; 
margin-left: -300px;
}

.nes-bcrikko {
  position: relative;
  display: inline-block; 
  /* width: 96px; */
  /* height: 25px; */
  left: 14px;
  top: 52px;
}

.nes-balloon.from-left {
  position: relative;
  display: inline-block;
  bottom: 32px;
}
/*fim Balão*/

.container {
  text-align: center;
  margin: 3rem 0 6rem 0;
}

.form-wrapper {
  margin:0 auto;
}

.form-wrapper input {
  display: block;
  margin: 1rem auto;
  padding: 10px 15px;
}

.page-subtitle {
  color: #fdfdfd;
  font-size: 1.25rem;
  margin: 1rem auto 2rem auto;
  text-align: center;
}

.pesquisaFilme_label {
  color: #ffffff;
  margin: 0;
}

.addFilme__listaFilmes {
  margin: 1em;
  display:flex;
  flex-flow:row wrap;
  justify-content: space-between;
  align-items: center;
  margin:0 auto;
}


.addFilme__container___button {
  display: inline;
  background: #FFAF50;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
  border: none;
  box-shadow: inset -10px -10px 0px #F1605A;
  color: #122432;
  font-size: 0.9rem;
  margin: 1rem auto;
  min-width: 10rem;
  min-height: 3rem;
  padding: 0.4rem;
  transition: all 0.3s ease;
}

/* inicio estilos no js */
#btnDeletaVideo{
  background: #FFAF50;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
  border: none;
  box-shadow: inset -10px -10px 0px #F1605A;
  color: #122432;
  font-size: 0.9rem;
  margin: 2rem 0;
  min-width: 10rem;
  min-height: 3rem;
  transition: all 0.3s ease;
}

.cartao {
  margin:0.5em;
  padding:0.5em;
  background-color:white;
  border:1px;
  border-style:double;
  border-color:red;
  border-radius:10px;
  box-shadow:3px 3px 3px 2px #996633;
}

.cartao:hover {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
}

.modal {
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 999;
}

.modalBox {
  background-color: #fdfdfd;
  border-radius: 10px;
  border: 3px solid #F1605A;
  box-shadow: 0.5rem 0.5rem 0 #041420;
  padding: 1rem;
  width: 60%;
}

.modalBox__titulo {
  margin-bottom: 1.5rem;
  text-align: left;
}

.modalBox__titulo::after {
  content: "";
  background-color: #c4c4c4;
  display: block;
  height: 1px;
  margin-top: 0.5rem;
  width: 100%;
}

.modalBox__descricao {
  margin-bottom: 2rem;
}

.modalBox__descricao::after {
  content: "";
  background-color: #c4c4c4;
  display: block;
  height: 1px;
  margin-top: 2rem;
  width: 100%;
}

.modalBox__botao {
  border: 2px solid #F1605A;
  border-radius: 5px;
  box-shadow: 2px 2px #041420;
  color: #122432;
  margin-right: 2rem;
  padding: 1rem;
}

.modalBox__botaoDeleta {
  background-color: #FBB248;
  border: 2px solid #F1605A;
  border-radius: 5px;
  box-shadow: 2px 2px #041420;
  color: #122432;
  padding: 1rem;
}
/* fim dos estilos no js */