body {
  font-family: 'Roboto Mono',monospace;
  margin:0 auto;
  text-align:center;
  background-image: url(../images/imagem-background.jpg);
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right:10px;
}
  
.form-wrapper {
  margin:0 auto;
  padding-top:2em;
  width:20em;
}

.form-wrapper p {
  text-align: left;
  padding-left:15px;
  font-size:1.2em;
}

.form-wrapper input {
  display: block;
  margin: 0 auto;
  width:20em;
  padding: 10px 15px;
}

.form-wrapper button {
  border: 0;
  color: #ffffff;
  background: #DA1E26;
  font-weight:bold;
  padding: 15px 20px;
  font-size: 16px;
  borde-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
  transition: .3s;
}

.form-wrapper button:hover {
  opacity:.8;
}

.listaFilmes {
  margin: 1em;
  display:flex;
  flex-flow:row wrap;
  justify-content:space-evenly;
  align-items:space-between;
  margin:0 auto;
}

.cartao{
margin:0.5em;
padding:0.5em;
background-color:white;
border:1px;
border-style:double;
border-color:red;
border-radius:10px;
box-shadow:3px 3px 3px 2px #996633;
}


.nes-field.is-inline {
width: 600px;
position: relative; 
left: 50%; 
margin-left: -300px;

/* display: block; */

  }


  html {
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABFklEQVRYR9WXURLDIAhE6/
    0PbSdOtUpcd1Gnpv1KGpTHBpCE1/cXq+vrMph7dGvXZTtpfW10DCA5jrH1H0Jhs5E0hnZdCR+vb5S8Nn8mQCeS9BdSalYJqMBjAGzq59xAESN7VFVUgV8AZB/
    dZBR7QTFDCqGquvUBVVoEtgIwpQRzmANSFHgWQKExHdIrPeuMvQNDarXe6nC/AutgV3JW+6bgqQLeV8FekRtgV+ToDKEKnACYKsfZjjkam7a0ZpYTytwmgainpC3HvwBocgKOxqRjehoR9DFKNFYtOwCGYCszobeCbl26N6yyQ6g8X/
    Wex/rBPsNEV6qAMaJPMynIHQCoSqS9JSMmwef51LflTgCRszU7DvAGiV6mHWfsaVUAAAAASUVORK5CYII=),auto;
}

.nes-bcrikko {
  position: relative;
    display: inline-block;
    width: 96px;
    height: 25px;
    margin-left: -360px;
    margin-top: 52px;
}
}

/* #btnPesquisar{
  position: relative;
    display: inline-block;
    margin-left: 22px;
    width: 119px;
    height: 49px;
    margin-top: 0px;
} */

#btnDeletaVideo{
  
}

.nes-select.is-dark {
background-color: none;

width: calc(100% + -2px);
}

.nes-input.is-dark{
  background-color: none;

width: calc(100% + -2px);
}