@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABFklEQVRYR9WXURLDIAhE6/0PbSdOtUpcd1Gnpv1KGpTHBpCE1/cXq+vrMph7dGvXZTtpfW10DCA5jrH1H0Jhs5E0hnZdCR+vb5S8Nn8mQCeS9BdSalYJqMBjAGzq59xAESN7VFVUgV8AZB/dZBR7QTFDCqGquvUBVVoEtgIwpQRzmANSFHgWQKExHdIrPeuMvQNDarXe6nC/AutgV3JW+6bgqQLeV8FekRtgV+ToDKEKnACYKsfZjjkam7a0ZpYTytwmgainpC3HvwBocgKOxqRjehoR9DFKNFYtOwCGYCszobeCbl26N6yyQ6g8X/Wex/rBPsNEV6qAMaJPMynIHQCoSqS9JSMmwef51LflTgCRszU7DvAGiV6mHWfsaVUAAAAASUVORK5CYII=),auto;
}


body {
  background-color: #122432;
  font-family: 'Press Start 2P', monospace;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.balao {
  display: block;
  position: relative;
}

.addFilme {
  background-color: #404679;
  box-shadow: 0.5rem 0.5rem 0 #041420;
  border-left: 0.2rem solid #FBB248;
  border-right: 0.2rem solid #FBB248;
  height: 100%;
  padding: 2rem;
  width: 720px;
}


.addFilme__container {
  padding: 20px;
  text-align: center;
  margin: 3rem 0 6rem 0;
}


.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}


.addFilme__container___page-subtitle {
  color: #ffffff;
  font-size: 1.25rem;
  margin-top: 5px;
  text-align: center;
}

  
.addFilme__container___form-wrapper {
  margin:0 auto;
  padding-top:2em;

}


.addFilme__container___form-wrapper input {
  display: block;
  margin: 0 auto;
  padding: 10px 15px;
}



.addFilme__listaFilmes {
  margin: 1em;
  display:flex;
  flex-flow:row wrap;
  justify-content: space-between;
  align-items: center;
  margin:0 auto;
}


.nes-field.is-inline {
width: 600px;
position: relative; 
left: 50%; 
margin-left: -300px;
}


.nes-bcrikko {
  position: relative;
  display: inline-block; 
  /* width: 96px; */
  /* height: 25px; */
  left: 14px;
  top: 52px;
}

.nes-balloon.from-left {
  position: relative;
  display: inline-block;
  bottom: 32px;
}

.addFilme__container___button {
  display: inline;
  background: #FFAF50;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
  border: none;
  box-shadow: inset -10px -10px 0px #F1605A;
  color: #122432;
  font-size: 0.9rem;
  margin-top: 2rem;
  min-width: 10rem;
  min-height: 3rem;
  padding: 0.4rem;
  transition: all 0.3s ease;
}


#btnDeletaVideo{
  background: #FFAF50;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
  border: none;
  box-shadow: inset -10px -10px 0px #F1605A;
  color: #122432;
  font-size: 0.9rem;
  margin: 2rem 0;
  min-width: 10rem;
  min-height: 3rem;
  transition: all 0.3s ease;
}

.cartao {
  margin:0.5em;
  padding:0.5em;
  background-color:white;
  border:1px;
  border-style:double;
  border-color:red;
  border-radius:10px;
  box-shadow:3px 3px 3px 2px #996633;
}

.cartao:hover {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
}