@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, a, img, svg {
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABFklEQVRYR9WXURLDIAhE6/0PbSdOtUpcd1Gnpv1KGpTHBpCE1/cXq+vrMph7dGvXZTtpfW10DCA5jrH1H0Jhs5E0hnZdCR+vb5S8Nn8mQCeS9BdSalYJqMBjAGzq59xAESN7VFVUgV8AZB/dZBR7QTFDCqGquvUBVVoEtgIwpQRzmANSFHgWQKExHdIrPeuMvQNDarXe6nC/AutgV3JW+6bgqQLeV8FekRtgV+ToDKEKnACYKsfZjjkam7a0ZpYTytwmgainpC3HvwBocgKOxqRjehoR9DFKNFYtOwCGYCszobeCbl26N6yyQ6g8X/Wex/rBPsNEV6qAMaJPMynIHQCoSqS9JSMmwef51LflTgCRszU7DvAGiV6mHWfsaVUAAAAASUVORK5CYII=),auto;
}

body {
    background-color: #122432;;
    font-family: 'Press Start 2P', monospace;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    position: relative;
    background-color: #404679;
    box-shadow: 0.5rem 0.5rem 0 #041420;
    border-left: 0.2rem solid #FBB248;
    border-right: 0.2rem solid #FBB248;
    height: 100vh;
    padding: 1.5rem;
    width: 720px;
}

.imgLogoCamararoll {
    width: 20rem;
    height: 10rem;
}

#text-welcome{
    margin-top: -5%;
}

h1 {
    color: #FFAF50;
    margin: 3rem 0 2rem 0;
    text-align: center;
    text-shadow: 2px 2px #F1605A;
}

.subtitle {
    color: #FFAF50;
    font-size: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    text-shadow: 2px 2px #F1605A;
}

.description {
    color: #FFAF50;
    font-family: monospace;
    font-size: 1.15rem;
    margin-bottom: 3rem;
    text-align: center;
}

.welcomeMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.joinUS {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    background: #FFAF50;
    border: none;
    box-shadow: inset -10px -10px 0px #F1605A;
    color: #122432;
    font-size: 0.9rem;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    min-width: 10rem;
    min-height: 3rem;
    padding: 0.4rem;
    transition: all 0.3s ease;
}

.btn#register {
    margin-bottom: 1.5rem;
}

.btn#login {
    margin-bottom: 0;
    padding-bottom: 0;
}

.btn:hover, #github-icon {
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
    letter-spacing: 0.5px;
}

.btn:active {
    transform: translate(10px, 10px);
}

.joinUS__label {
    color: #FFAF50;
    font-family: monospace;
    font-size: 1rem;
}

/*Gatinha do github*/
.github{
    position: absolute;
    margin:0 0 0 0;
    right: 0;
    top: 0;
}

.teste{
    font-size: 12px;
}

.description {
    margin-bottom: 1.4rem;
}